#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 720px 1993px #FFF , 1110px 666px #FFF , 136px 376px #FFF , 253px 1941px #FFF , 1923px 1599px #FFF , 743px 1228px #FFF , 1515px 949px #FFF , 1014px 1521px #FFF , 1773px 102px #FFF , 1895px 542px #FFF , 878px 1209px #FFF , 684px 923px #FFF , 1217px 68px #FFF , 1420px 1829px #FFF , 222px 1030px #FFF , 205px 377px #FFF , 1099px 923px #FFF , 274px 1117px #FFF , 1538px 420px #FFF , 1320px 685px #FFF , 537px 1339px #FFF , 192px 1455px #FFF , 1110px 1602px #FFF , 82px 35px #FFF , 33px 650px #FFF , 1976px 1393px #FFF , 1416px 268px #FFF , 802px 441px #FFF , 472px 236px #FFF , 1814px 435px #FFF , 724px 547px #FFF , 973px 1750px #FFF , 1044px 462px #FFF , 1679px 1569px #FFF , 1451px 78px #FFF , 1400px 1813px #FFF , 377px 728px #FFF , 25px 576px #FFF , 378px 1381px #FFF , 938px 1591px #FFF , 144px 960px #FFF , 722px 1579px #FFF , 1664px 42px #FFF , 1561px 321px #FFF , 974px 361px #FFF , 25px 1108px #FFF , 1509px 1776px #FFF , 1632px 81px #FFF , 1778px 1687px #FFF , 351px 162px #FFF , 1893px 1084px #FFF , 368px 40px #FFF , 184px 1330px #FFF , 388px 1108px #FFF , 640px 703px #FFF , 1087px 1306px #FFF , 32px 1839px #FFF , 297px 807px #FFF , 1244px 1834px #FFF , 723px 308px #FFF , 1158px 1892px #FFF , 302px 1267px #FFF , 547px 143px #FFF , 147px 56px #FFF , 536px 971px #FFF , 1060px 747px #FFF , 86px 216px #FFF , 458px 881px #FFF , 486px 1128px #FFF , 446px 1773px #FFF , 800px 910px #FFF , 768px 1536px #FFF , 1057px 1895px #FFF , 1505px 513px #FFF , 55px 1323px #FFF , 911px 501px #FFF , 788px 493px #FFF , 1100px 1389px #FFF , 935px 856px #FFF , 500px 1009px #FFF , 1489px 1013px #FFF , 57px 841px #FFF , 1348px 1312px #FFF , 1120px 1770px #FFF , 976px 57px #FFF , 1467px 1574px #FFF , 1723px 1974px #FFF , 727px 1798px #FFF , 1231px 1968px #FFF , 1048px 1542px #FFF , 1605px 750px #FFF , 1654px 1728px #FFF , 196px 928px #FFF , 1440px 1398px #FFF , 305px 1344px #FFF , 1080px 504px #FFF , 31px 1960px #FFF , 405px 1488px #FFF , 385px 1758px #FFF , 198px 207px #FFF , 427px 1053px #FFF , 1529px 1158px #FFF , 817px 1478px #FFF , 1963px 1654px #FFF , 1933px 1757px #FFF , 1863px 110px #FFF , 1402px 937px #FFF , 1965px 642px #FFF , 490px 1283px #FFF , 1806px 1842px #FFF , 1964px 1994px #FFF , 762px 1945px #FFF , 1642px 69px #FFF , 1686px 1834px #FFF , 1593px 1743px #FFF , 1387px 768px #FFF , 56px 1030px #FFF , 1606px 1121px #FFF , 1538px 1740px #FFF , 1301px 1152px #FFF , 540px 1979px #FFF , 108px 218px #FFF , 1374px 281px #FFF , 1653px 1215px #FFF , 1253px 1190px #FFF , 394px 1058px #FFF , 1829px 616px #FFF , 1212px 92px #FFF , 1880px 1347px #FFF , 1363px 1477px #FFF , 1761px 1680px #FFF , 1855px 884px #FFF , 529px 1090px #FFF , 1877px 268px #FFF , 553px 451px #FFF , 1970px 1111px #FFF , 82px 120px #FFF , 461px 325px #FFF , 1035px 1398px #FFF , 608px 719px #FFF , 1271px 739px #FFF , 1360px 1650px #FFF , 418px 170px #FFF , 1224px 761px #FFF , 1688px 52px #FFF , 385px 647px #FFF , 1138px 457px #FFF , 1303px 1033px #FFF , 137px 384px #FFF , 364px 1301px #FFF , 561px 1847px #FFF , 923px 802px #FFF , 973px 521px #FFF , 1902px 1328px #FFF , 1808px 1771px #FFF , 996px 1922px #FFF , 155px 763px #FFF , 1045px 1163px #FFF , 1455px 151px #FFF , 108px 1739px #FFF , 1898px 1934px #FFF , 153px 982px #FFF , 687px 1297px #FFF , 491px 715px #FFF , 1522px 677px #FFF , 675px 804px #FFF , 878px 1206px #FFF , 610px 1964px #FFF , 601px 1196px #FFF , 375px 1510px #FFF , 1971px 203px #FFF , 1516px 392px #FFF , 466px 825px #FFF , 1871px 1787px #FFF , 1184px 1609px #FFF , 697px 465px #FFF , 1266px 1416px #FFF , 1376px 237px #FFF , 275px 1650px #FFF , 1075px 772px #FFF , 1781px 529px #FFF , 634px 939px #FFF , 974px 1135px #FFF , 596px 1610px #FFF , 1902px 1644px #FFF , 529px 735px #FFF , 266px 1213px #FFF , 1874px 1989px #FFF , 1841px 1105px #FFF , 1729px 1625px #FFF , 1366px 918px #FFF , 1996px 611px #FFF , 992px 1986px #FFF , 946px 1028px #FFF , 1774px 1744px #FFF , 1810px 1868px #FFF , 1760px 677px #FFF , 1117px 478px #FFF , 1713px 309px #FFF , 851px 995px #FFF , 1879px 1605px #FFF , 1801px 615px #FFF , 22px 291px #FFF , 765px 496px #FFF , 1653px 1809px #FFF , 1136px 478px #FFF , 1035px 620px #FFF , 1575px 1404px #FFF , 1031px 1819px #FFF , 1327px 1324px #FFF , 1985px 1706px #FFF , 1441px 545px #FFF , 1965px 1109px #FFF , 315px 732px #FFF , 1792px 1809px #FFF , 557px 1143px #FFF , 1160px 384px #FFF , 1363px 1187px #FFF , 511px 1956px #FFF , 1576px 1155px #FFF , 1156px 896px #FFF , 1075px 270px #FFF , 1848px 197px #FFF , 472px 777px #FFF , 531px 895px #FFF , 1000px 1651px #FFF , 832px 65px #FFF , 1806px 1208px #FFF , 1123px 874px #FFF , 957px 1499px #FFF , 86px 451px #FFF , 791px 1192px #FFF , 919px 635px #FFF , 668px 1360px #FFF , 1493px 506px #FFF , 211px 52px #FFF , 168px 1918px #FFF , 121px 752px #FFF , 1385px 1517px #FFF , 457px 1756px #FFF , 920px 345px #FFF , 434px 970px #FFF , 1283px 100px #FFF , 563px 1999px #FFF , 1142px 1417px #FFF , 1467px 1758px #FFF , 777px 512px #FFF , 1828px 766px #FFF , 1425px 984px #FFF , 701px 1688px #FFF , 36px 471px #FFF , 1539px 586px #FFF , 1852px 3px #FFF , 638px 40px #FFF , 768px 1305px #FFF , 46px 196px #FFF , 1129px 1949px #FFF , 1976px 1549px #FFF , 1127px 375px #FFF , 1627px 1309px #FFF , 1567px 1976px #FFF , 549px 488px #FFF , 835px 637px #FFF , 933px 1363px #FFF , 1398px 1322px #FFF , 378px 350px #FFF , 1353px 1419px #FFF , 215px 1000px #FFF , 923px 1885px #FFF , 1957px 1529px #FFF , 1363px 555px #FFF , 1025px 676px #FFF , 1390px 1258px #FFF , 96px 1213px #FFF , 31px 1555px #FFF , 1420px 1333px #FFF , 1194px 485px #FFF , 1961px 1522px #FFF , 572px 391px #FFF , 1257px 1968px #FFF , 1848px 1077px #FFF , 1791px 750px #FFF , 50px 1419px #FFF , 114px 1632px #FFF , 197px 22px #FFF , 1224px 1961px #FFF , 625px 1325px #FFF , 542px 293px #FFF , 963px 355px #FFF , 360px 1888px #FFF , 1210px 428px #FFF , 417px 29px #FFF , 1850px 1483px #FFF , 1816px 759px #FFF , 296px 1219px #FFF , 1711px 1373px #FFF , 1663px 344px #FFF , 427px 1324px #FFF , 930px 1055px #FFF , 871px 901px #FFF , 603px 1465px #FFF , 517px 248px #FFF , 1684px 1079px #FFF , 1740px 1071px #FFF , 1991px 660px #FFF , 1446px 1756px #FFF , 1909px 1499px #FFF , 122px 1497px #FFF , 170px 954px #FFF , 44px 1368px #FFF , 540px 1783px #FFF , 1688px 183px #FFF , 690px 961px #FFF , 353px 1687px #FFF , 1260px 791px #FFF , 838px 1364px #FFF , 199px 1559px #FFF , 1229px 914px #FFF , 871px 1644px #FFF , 1789px 809px #FFF , 1237px 1200px #FFF , 1418px 1944px #FFF , 145px 633px #FFF , 1950px 863px #FFF , 46px 1993px #FFF , 276px 1252px #FFF , 1878px 1233px #FFF , 1325px 1891px #FFF , 438px 992px #FFF , 1939px 412px #FFF , 1766px 699px #FFF , 622px 1568px #FFF , 662px 1545px #FFF , 623px 394px #FFF , 258px 558px #FFF , 1549px 387px #FFF , 1686px 991px #FFF , 38px 1581px #FFF , 928px 1288px #FFF , 1385px 1946px #FFF , 285px 213px #FFF , 91px 142px #FFF , 111px 1713px #FFF , 1471px 1556px #FFF , 633px 332px #FFF , 760px 214px #FFF , 1174px 467px #FFF , 195px 424px #FFF , 703px 726px #FFF , 349px 409px #FFF , 1401px 1583px #FFF , 198px 520px #FFF , 694px 1952px #FFF , 484px 1657px #FFF , 684px 606px #FFF , 183px 1590px #FFF , 168px 358px #FFF , 1627px 684px #FFF , 1008px 317px #FFF , 388px 894px #FFF , 1284px 1131px #FFF , 198px 1352px #FFF , 447px 523px #FFF , 644px 1444px #FFF , 1820px 1244px #FFF , 1339px 1683px #FFF , 703px 55px #FFF , 1780px 41px #FFF , 1115px 46px #FFF , 1095px 1918px #FFF , 589px 1381px #FFF , 809px 1852px #FFF , 1449px 1703px #FFF , 1495px 1414px #FFF , 556px 1078px #FFF , 1573px 1839px #FFF , 540px 601px #FFF , 267px 655px #FFF , 1714px 1573px #FFF , 358px 1711px #FFF , 947px 1307px #FFF , 1243px 413px #FFF , 1010px 112px #FFF , 617px 1472px #FFF , 972px 1222px #FFF , 450px 711px #FFF , 1746px 427px #FFF , 1999px 1501px #FFF , 1134px 925px #FFF , 1971px 1859px #FFF , 1018px 1528px #FFF , 1742px 727px #FFF , 1783px 515px #FFF , 1092px 1871px #FFF , 878px 871px #FFF , 68px 1405px #FFF , 489px 1467px #FFF , 1292px 1679px #FFF , 798px 1154px #FFF , 757px 5px #FFF , 563px 1511px #FFF , 1673px 1896px #FFF , 1162px 1422px #FFF , 80px 701px #FFF , 1891px 621px #FFF , 1142px 539px #FFF , 1813px 1296px #FFF , 1064px 1517px #FFF , 1958px 1435px #FFF , 1670px 1955px #FFF , 305px 565px #FFF , 1202px 522px #FFF , 471px 1816px #FFF , 982px 1211px #FFF , 371px 703px #FFF , 500px 533px #FFF , 80px 1987px #FFF , 13px 886px #FFF , 682px 509px #FFF , 718px 14px #FFF , 1767px 155px #FFF , 1930px 1660px #FFF , 418px 1432px #FFF , 741px 1395px #FFF , 803px 65px #FFF , 322px 1714px #FFF , 51px 400px #FFF , 1310px 249px #FFF , 1495px 670px #FFF , 612px 1256px #FFF , 1836px 1902px #FFF , 1327px 1720px #FFF , 311px 854px #FFF , 1472px 1106px #FFF , 1132px 139px #FFF , 585px 1474px #FFF , 895px 1458px #FFF , 1183px 1646px #FFF , 21px 81px #FFF , 1270px 1327px #FFF , 717px 1315px #FFF , 636px 1262px #FFF , 1782px 1717px #FFF , 1530px 1499px #FFF , 1655px 214px #FFF , 191px 769px #FFF , 1710px 1149px #FFF , 1447px 1445px #FFF , 207px 1306px #FFF , 865px 68px #FFF , 1814px 1021px #FFF , 1253px 1182px #FFF , 1484px 1839px #FFF , 1314px 786px #FFF , 277px 1103px #FFF , 540px 802px #FFF , 1640px 85px #FFF , 637px 882px #FFF , 33px 1956px #FFF , 1171px 1444px #FFF , 687px 764px #FFF , 1131px 1585px #FFF , 788px 1205px #FFF , 703px 1175px #FFF , 1574px 1023px #FFF , 1361px 876px #FFF , 1713px 169px #FFF , 56px 312px #FFF , 1203px 387px #FFF , 1785px 44px #FFF , 585px 1119px #FFF , 448px 1411px #FFF , 719px 1564px #FFF , 239px 318px #FFF , 383px 820px #FFF , 10px 536px #FFF , 1803px 1743px #FFF , 1288px 651px #FFF , 1564px 1751px #FFF , 460px 1902px #FFF , 1764px 398px #FFF , 319px 1669px #FFF , 1843px 1020px #FFF , 12px 300px #FFF , 1212px 1707px #FFF , 1065px 1781px #FFF , 1211px 684px #FFF , 1920px 35px #FFF , 1378px 1291px #FFF , 289px 1001px #FFF , 556px 1310px #FFF , 1323px 317px #FFF , 762px 1712px #FFF , 1267px 383px #FFF , 970px 1467px #FFF , 322px 1267px #FFF , 283px 1818px #FFF , 986px 1408px #FFF , 1485px 1216px #FFF , 1384px 1704px #FFF , 1302px 230px #FFF , 1516px 235px #FFF , 1295px 1626px #FFF , 354px 592px #FFF , 415px 342px #FFF , 436px 1902px #FFF , 932px 1425px #FFF , 196px 106px #FFF , 884px 1657px #FFF , 1545px 1958px #FFF , 769px 40px #FFF , 1261px 471px #FFF , 917px 374px #FFF , 561px 1628px #FFF , 1838px 881px #FFF , 819px 940px #FFF , 1968px 1506px #FFF , 1634px 543px #FFF , 188px 1240px #FFF , 1702px 1093px #FFF , 392px 1947px #FFF , 129px 472px #FFF , 718px 713px #FFF , 31px 732px #FFF , 283px 18px #FFF , 1759px 1390px #FFF , 1795px 1642px #FFF , 1969px 673px #FFF , 1946px 1963px #FFF , 176px 1348px #FFF , 1296px 1954px #FFF , 331px 845px #FFF , 1447px 234px #FFF , 782px 1424px #FFF , 1078px 1554px #FFF , 588px 363px #FFF , 1992px 69px #FFF , 1772px 2px #FFF , 736px 1766px #FFF , 399px 149px #FFF , 443px 1436px #FFF , 1052px 100px #FFF , 632px 646px #FFF , 1930px 1856px #FFF , 1946px 1121px #FFF , 1366px 1670px #FFF , 157px 1023px #FFF , 1226px 1805px #FFF , 1409px 1580px #FFF , 384px 775px #FFF , 151px 1300px #FFF , 727px 1074px #FFF , 119px 1574px #FFF , 1778px 1403px #FFF , 1490px 1657px #FFF , 591px 1435px #FFF , 1092px 161px #FFF , 675px 1176px #FFF , 634px 335px #FFF , 740px 1723px #FFF , 1720px 1295px #FFF , 1251px 857px #FFF , 669px 341px #FFF , 1607px 1969px #FFF , 399px 582px #FFF , 1527px 1020px #FFF , 448px 358px #FFF , 994px 651px #FFF , 1734px 1508px #FFF , 1730px 6px #FFF , 1011px 989px #FFF , 1339px 1394px #FFF , 544px 1111px #FFF , 1543px 1038px #FFF , 95px 1017px #FFF , 371px 1823px #FFF , 1443px 815px #FFF , 1709px 1790px #FFF , 1425px 1964px #FFF , 994px 837px #FFF , 1454px 835px #FFF , 1939px 108px #FFF , 1710px 130px #FFF , 654px 1077px #FFF , 563px 1286px #FFF , 510px 1233px #FFF , 813px 1589px #FFF , 745px 1414px #FFF , 1205px 1291px #FFF , 44px 218px #FFF , 397px 1072px #FFF , 1962px 356px #FFF , 1483px 930px #FFF , 1079px 141px #FFF , 1164px 655px #FFF , 1590px 1007px #FFF , 794px 614px #FFF , 1880px 1673px #FFF , 488px 1194px #FFF , 754px 1072px #FFF , 530px 536px #FFF , 530px 668px #FFF , 739px 1458px #FFF , 1844px 1656px #FFF , 242px 1235px #FFF , 1053px 733px #FFF , 1704px 1177px #FFF , 171px 1859px #FFF , 149px 1697px #FFF , 1265px 1036px #FFF , 1920px 633px #FFF , 1961px 1807px #FFF , 167px 1296px #FFF , 227px 1183px #FFF , 1877px 1671px #FFF , 1212px 1443px #FFF , 1074px 639px #FFF , 898px 1222px #FFF , 1253px 1906px #FFF , 558px 1480px #FFF , 1880px 554px #FFF , 909px 1003px #FFF , 103px 1710px #FFF , 886px 939px #FFF , 1472px 999px #FFF , 1897px 650px #FFF , 1850px 20px #FFF , 794px 725px #FFF , 1927px 1098px #FFF , 1433px 267px #FFF , 494px 1593px #FFF , 1358px 1578px #FFF , 1695px 801px #FFF , 1235px 519px #FFF , 1427px 53px #FFF , 1827px 884px #FFF , 1622px 685px #FFF , 519px 632px #FFF , 1960px 1307px #FFF , 577px 1922px #FFF , 1555px 217px #FFF , 236px 379px #FFF , 909px 1484px #FFF , 1523px 567px #FFF , 329px 1823px #FFF , 323px 586px #FFF , 1411px 1174px #FFF , 393px 1537px #FFF , 664px 81px #FFF , 666px 1484px #FFF , 1144px 375px #FFF , 561px 309px #FFF , 216px 1704px #FFF , 1774px 1004px #FFF , 1370px 1718px #FFF , 1249px 736px #FFF , 1203px 1953px #FFF , 608px 856px #FFF , 8px 1412px #FFF , 1168px 214px #FFF , 524px 301px #FFF , 1078px 796px #FFF , 262px 487px #FFF , 514px 153px #FFF , 1406px 818px #FFF , 1412px 1435px #FFF , 1278px 1663px #FFF , 1200px 1243px #FFF , 508px 326px #FFF , 1159px 646px #FFF , 284px 88px #FFF , 123px 1068px #FFF , 240px 233px #FFF , 1180px 1762px #FFF , 1904px 277px #FFF , 705px 1236px #FFF , 1870px 172px #FFF , 512px 1883px #FFF , 844px 1329px #FFF , 1420px 1532px #FFF , 1293px 287px #FFF , 1850px 785px #FFF , 453px 1983px #FFF , 962px 884px #FFF , 595px 787px #FFF , 792px 1134px #FFF , 471px 1344px #FFF , 1799px 507px #FFF , 1295px 322px #FFF , 1844px 717px #FFF , 1453px 1503px #FFF , 1812px 932px #FFF , 1837px 1886px #FFF , 1562px 379px #FFF , 1689px 1572px #FFF , 1300px 1584px #FFF , 258px 1747px #FFF , 1774px 1048px #FFF , 384px 18px #FFF , 668px 554px #FFF;
  animation: animStar 50s linear infinite;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1126px 345px #FFF , 934px 114px #FFF , 308px 1859px #FFF , 1985px 1710px #FFF , 1649px 1717px #FFF , 1463px 389px #FFF , 616px 1685px #FFF , 1832px 1560px #FFF , 1574px 1512px #FFF , 168px 1995px #FFF , 1501px 736px #FFF , 242px 1214px #FFF , 1883px 1054px #FFF , 938px 1156px #FFF , 553px 227px #FFF , 1070px 1742px #FFF , 1593px 1080px #FFF , 166px 272px #FFF , 566px 1399px #FFF , 1835px 1951px #FFF , 1031px 525px #FFF , 1447px 851px #FFF , 1764px 1698px #FFF , 1400px 1476px #FFF , 1342px 1931px #FFF , 1519px 1399px #FFF , 1751px 1826px #FFF , 1622px 656px #FFF , 1609px 182px #FFF , 481px 863px #FFF , 1525px 230px #FFF , 1155px 1415px #FFF , 516px 1282px #FFF , 902px 1069px #FFF , 1337px 1296px #FFF , 65px 1496px #FFF , 1265px 213px #FFF , 679px 1856px #FFF , 68px 528px #FFF , 293px 1024px #FFF , 1333px 1622px #FFF , 1617px 1560px #FFF , 382px 1041px #FFF , 1171px 195px #FFF , 641px 512px #FFF , 1684px 1359px #FFF , 207px 825px #FFF , 863px 1278px #FFF , 908px 1428px #FFF , 1079px 1396px #FFF , 1965px 820px #FFF , 1967px 472px #FFF , 415px 623px #FFF , 1311px 984px #FFF , 265px 482px #FFF , 231px 212px #FFF , 237px 374px #FFF , 1453px 627px #FFF , 1882px 1840px #FFF , 921px 866px #FFF , 1208px 1515px #FFF , 634px 1380px #FFF , 145px 1577px #FFF , 528px 1304px #FFF , 1857px 1432px #FFF , 497px 1579px #FFF , 403px 240px #FFF , 736px 426px #FFF , 1209px 1328px #FFF , 170px 770px #FFF , 1756px 499px #FFF , 50px 947px #FFF , 866px 1534px #FFF , 1714px 63px #FFF , 1113px 1518px #FFF , 699px 207px #FFF , 1737px 804px #FFF , 1098px 1840px #FFF , 368px 861px #FFF , 1313px 1643px #FFF , 600px 1459px #FFF , 1764px 1132px #FFF , 735px 1045px #FFF , 1865px 865px #FFF , 625px 1456px #FFF , 741px 490px #FFF , 1901px 778px #FFF , 998px 1763px #FFF , 597px 1779px #FFF , 610px 1169px #FFF , 826px 745px #FFF , 633px 1744px #FFF , 59px 716px #FFF , 1146px 23px #FFF , 961px 508px #FFF , 1448px 1974px #FFF , 509px 838px #FFF , 1029px 1991px #FFF , 325px 677px #FFF , 1345px 1827px #FFF , 148px 713px #FFF , 1892px 58px #FFF , 138px 920px #FFF , 735px 460px #FFF , 1985px 1707px #FFF , 320px 53px #FFF , 1395px 1071px #FFF , 149px 1435px #FFF , 946px 1358px #FFF , 1615px 1380px #FFF , 674px 1759px #FFF , 1329px 635px #FFF , 13px 1805px #FFF , 1104px 500px #FFF , 188px 1182px #FFF , 1514px 505px #FFF , 1214px 1097px #FFF , 655px 1933px #FFF , 1255px 1837px #FFF , 584px 1489px #FFF , 620px 1466px #FFF , 298px 1967px #FFF , 1819px 1641px #FFF , 1499px 1082px #FFF , 1960px 1838px #FFF , 1964px 1764px #FFF , 1749px 1057px #FFF , 1056px 631px #FFF , 555px 923px #FFF , 147px 474px #FFF , 704px 1593px #FFF , 1064px 820px #FFF , 1418px 774px #FFF , 663px 540px #FFF , 1284px 443px #FFF , 1271px 1767px #FFF , 1304px 258px #FFF , 586px 1231px #FFF , 804px 1289px #FFF , 1855px 738px #FFF , 1381px 370px #FFF , 144px 506px #FFF , 232px 1465px #FFF , 891px 1467px #FFF , 1901px 1671px #FFF , 1802px 1380px #FFF , 713px 1524px #FFF , 984px 1528px #FFF , 1758px 1627px #FFF , 1302px 834px #FFF , 1064px 270px #FFF , 1916px 454px #FFF , 1111px 1799px #FFF , 867px 752px #FFF , 756px 113px #FFF , 1376px 646px #FFF , 1306px 514px #FFF , 1441px 1511px #FFF , 232px 1597px #FFF , 1861px 1085px #FFF , 1995px 1942px #FFF , 1728px 855px #FFF , 1524px 753px #FFF , 482px 213px #FFF , 612px 1260px #FFF , 253px 1910px #FFF , 1229px 1195px #FFF , 1011px 671px #FFF , 1182px 1853px #FFF , 1288px 356px #FFF , 792px 1828px #FFF , 714px 1138px #FFF , 481px 1027px #FFF , 797px 166px #FFF , 1500px 1233px #FFF , 529px 1512px #FFF , 1493px 777px #FFF , 192px 1268px #FFF , 156px 1198px #FFF , 460px 703px #FFF , 1312px 1567px #FFF , 432px 1679px #FFF , 1911px 1377px #FFF , 1688px 1795px #FFF , 1842px 1161px #FFF , 804px 242px #FFF , 857px 426px #FFF , 1924px 1165px #FFF , 1650px 256px #FFF , 252px 963px #FFF , 1590px 1850px #FFF , 1734px 1331px #FFF , 259px 1003px #FFF , 994px 554px #FFF , 636px 339px #FFF , 1333px 46px #FFF , 1349px 1010px #FFF , 436px 1319px #FFF , 1983px 1717px #FFF , 371px 709px #FFF;
  animation: animStar 100s linear infinite;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
html, body {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: auto;
}

h1 {
  text-align: center;
  text-shadow: 0 0 10px #ffee10;
}

.top-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  width: 100%;
}

form.playerOptions {
  border: 2px solid lightcyan;
  box-shadow: 0 0 10px #ffee10;
  display: flex;
  flex-flow: row wrap;
  background-color: #c7ae8a;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}

.options {
  margin-left: 10px;
}

form label {
  font-size: 0.9rem;
}
form button {
  margin-top: 1rem;
}

.board {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  width: 90%;
  max-width: 400px;
  height: 400px;
}

.board button {
  background: transparent;
}
.board button p {
  font-size: 2.35rem;
  color: white;
}

.start, .reset, .view-minimax {
  font-size: 0.75rem;
}

.board button:nth-child(n):nth-child(-n+3) {
  border-top: none;
}
.board button:nth-child(n+7):nth-child(-n+9) {
  border-bottom: none;
}
.board button:nth-child(3n+1) {
  border-left: none;
}
.board button:nth-child(3n) {
  border-right: none;
}
.board button:hover {
  background-color: lightcyan;
  box-shadow: 0 0 10px #ffee10;
  margin: 10px;
}
.board button:hover p {
  color: #090A0F;
}
.board button {
  border: 1px solid white;
}

.game-winner {
  opacity: 0;
}

.algo-option-container-1 {
  display: none;
}

.algo-option-container-1, .algo-option-container-2 {
  margin: auto;
  text-shadow: 0 0 10px #ffee10;
}

.algo-text-1, .algo-text-2 {
  opacity: 0;
  width: 90%;
  margin: auto;
  font-weight: bold;
}

/********** Small devices **********/
@media (min-width: 460px) {
  form.playerOptions {
    justify-content: space-around;
  }
}
/********** Medium devices **********/
@media (min-width: 768px) {
  .top-container {
    max-width: 80%;
  }
  .under-board {
    grid-column-start: 2;
  }
}
/********** Large devices **********/
@media (min-width: 992px) {
  .top-container {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  form.playerOptions {
    display: flex;
    flex-flow: column wrap;
    width: auto;
    align-self: start;
  }
  form label {
    font-size: 1.15rem;
  }
  .board {
    width: 400px;
  }
  .quadrant-1 {
    display: flex;
    flex-flow: column;
  }
  .algo-option-container-1 {
    display: block;
  }
  .algo-option-container-2 {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */